body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
}

.map-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0px 1fr;
  transition: grid-template-columns 0.3s ease;
}

.map-container.sidebar-visible {
  grid-template-columns: 240px 1fr;
}

.map-header {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
  background: rgba(15,23,42,0.9);
  padding: 12px 20px;
  border-radius: 12px;
  color: #fff;
  display: flex;
  gap: 15px;
  align-items: center;
}

.map-header.shifted {
  left: 255px;
}

.zoom-controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: right;
}

.zoom-controls button {
  background: white;
  border: none;
  color: #0f172a;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  align-items: right;
}

.zoom-controls button:hover {
  background: #6366f1;
  color: white;
}

.map-header input {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 400px;
  font-size: 20px;
}

.map-sidebar {
  background: #020617;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.map-sidebar.visible {
  transform: translateX(0);
}

.toggle-btn {
  position: fixed;
  left: 0;
  top: 20px;
  background: #1e293b;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 1001;
  transition: left 0.3s ease;
}

.toggle-btn.shifted {
  left: 240px;
}

.toggle-btn:hover {
  background: #6366f1;
}

.map-sidebar button {
  background: #1e293b;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.map-sidebar button:hover {
  background: #6366f1;
}

#map {
  height: 100vh;
  width: 100%;
}
